{
    "parserOptions": { "ecmaVersion": 6 },
    "extends": [
        "recommended/node",
    ],
    "rules": {
        "import/no-commonjs": "off",
        "import/no-nodejs-modules": "off"
    },
    "env": {
        jest: true
    }
}
